# auto gen meta
src/assets/meta.ts

# vite
*.local
vite.config.ts.js
vite.config.js

# custom
.env*

# output
dist/
dist-ssr/

# logs
logs/
*.log
npm-debug.log*

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# runtime data
pids
*.pid
*.seed
*.pid.lock

# dependency directories
.npm/
node_modules/

# system
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
