<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" crossorigin href="https://fonts.googleapis.com" />
    <link rel="preconnect" crossorigin href="https://fonts.gstatic.com" />
    <link rel="stylesheet" crossorigin href="https://fonts.googleapis.com/css2?display=swap&family=Inter:wght@300;400;500" />
    <link rel="stylesheet" crossorigin href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans+SC:wght@300;400;500" />
    <link rel="stylesheet" crossorigin href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans+JP:wght@300;400;500" />
    <link rel="stylesheet" crossorigin href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans+KR:wght@300;400;500" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=<% VITE_GA_ID />"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', '<% VITE_GA_ID />');
    </script>
    <link rel="icon" sizes="any" href="/favicon.svg" />
    <title>Skyline Overlay</title>
    <meta name="description" content="A modern customizable horizon FFXIV miniparse overlay." />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
