.combatant {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;

  &-grid {
    position: relative;
    flex: 0 0 auto;
    width: 126px;
    margin: 0 $padding-sm;
    display: flex;
    flex-direction: column;
    color: var(--color-combatant-fg);
    text-shadow: var(--shadow-combatant);

    // job type colors
    &.jobtype-dps &-content {
      background-color: var(--color-combatant-bg-dps);
    }
    &.jobtype-tank &-content {
      background-color: var(--color-combatant-bg-tank);
    }
    &.jobtype-heal &-content {
      background-color: var(--color-combatant-bg-heal);
    }
    &.jobtype-others &-content {
      background-color: var(--color-combatant-bg-others);
    }
    // self highlight color
    &.job-self &-content {
      background-color: var(--color-combatant-bg-self);
    }

    &-id,
    &-maxhit {
      line-height: 22px;
      height: 22px;
      font-size: $font-size-sm;
      text-align: center;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      &.blur {
        filter: blur(4px);
      }
    }

    &-maxhit {
      & > span:first-child {
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & > span:last-child {
        flex: 0 0 auto;
      }
    }

    &-content {
      height: 24px;
      position: relative;
      padding: 4px 8px;
      background-color: var(--color-combatant-bg-others);
      backdrop-filter: $filter;
    }

    &-data {
      height: 18px;
      line-height: 18px;
      text-align: right;
    }

    .job-icon {
      position: absolute;
      top: 0.4px;
      left: 5px;
      width: 24px;
      height: 24px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-extend {
      width: 160px;

      .combatant-grid-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .job-icon {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -4px;
        width: 22px;
        height: 22px;
      }
    }
  }

  &-detail {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 99;
    font-size: $font-size-sm;
    padding: 4px 6px;
    backdrop-filter: $filter;
    background-color: var(--color-combatant-bg-others);
    @include transition();

    &-section {
      padding: 4px 2px;
    }
    &-section + &-section {
      border-top: 2px solid #ffffff;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.25;

      &-pct .s-counter {
        display: inline-block;
        text-align: right;
        overflow: visible;
        white-space: nowrap;
      }

      & > div:first-child,
      & > span:first-child {
        flex: 1 1 auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      & > div:last-child,
      & > span:last-child {
        flex: 0 0 auto;
        overflow: visible;
        white-space: nowrap;
      }
    }
  }

  .jobtype-dps .combatant-detail.locked {
    background-color: var(--color-combatant-bg-dps);
  }
  .jobtype-tank .combatant-detail.locked {
    background-color: var(--color-combatant-bg-tank);
  }
  .jobtype-heal .combatant-detail.locked {
    background-color: var(--color-combatant-bg-heal);
  }
  .jobtype-others .combatant-detail.locked {
    background-color: var(--color-combatant-bg-others);
  }
  // self highlight color
  .job-self .combatant-detail.locked {
    background-color: var(--color-combatant-bg-self);
  }

  &-ticker {
    width: 100%;
    height: 4px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: stretch;
    margin-bottom: 1px;

    &-d {
      background-color: greenyellow;
    }
    &-c {
      background-color: yellow;
    }
    &-dc {
      background-color: orange;
    }
  }
}
