.encounter {
  font-size: $font-size-sm;
  flex: 0 0 25rem;
  display: flex;
  color: var(--color-fg);
  text-shadow: var(--shadow-text);

  .duration {
    height: $size-encounter;
    width: $size-encounter * 2 + 0.05rem;
    line-height: $size-encounter;
    text-align: center;
    background-color: var(--color-cover);
    transition: all 150ms ease;

    &.active {
      background-color: var(--color-active);
    }
  }

  .content {
    flex: 1 0 auto;
    padding: $padding-sm $padding-xl;
    display: flex;
    flex-wrap: nowrap;
    height: $size-encounter;
    line-height: 1.1rem;
    background-color: var(--color-bg);

    .zone {
      flex: 1 1 auto;
      text-align: left;
    }

    .numbers {
      flex: 0 0 auto;
    }
  }

  .buttons {
    cursor: pointer;
    color: var(--color-form-fg);
    background-color: var(--color-cover);
    position: relative;
    height: $size-encounter;
    width: $size-encounter * 2;
    display: flex;

    .btn {
      position: relative;
      flex: 0 0 auto;
      height: $size-encounter;
      width: $size-encounter;
      transition: all 150ms ease;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:hover {
        color: var(--color-form-fg-active);
        background-color: var(--color-form-bg-active);
      }
    }
  }
}
