.encounter {
  margin-top: 0.04rem;
  font-size: $font-size-sm;
  flex: 0 0 3.5rem;
  display: flex;
  backdrop-filter: $filter;

  &-duration {
    height: $size-form;
    width: $size-form * 2 + 0.01rem;
    line-height: $size-form;
    text-align: center;
    color: var(--color-cover-fg);
    background-color: var(--color-cover-bg);
    text-shadow: var(--shadow-encounter);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.active {
      color: var(--color-cover-fg-active);
      background-color: var(--color-cover-bg-active);
      text-shadow: var(--shadow-encounter-active);
    }

    &:hover {
      color: var(--color-form-fg-active);
      background-color: var(--color-form-bg-active);
      text-shadow: none;
    }
  }

  &-content {
    flex: 1 0 auto;
    padding: $padding-sm $padding-xl;
    display: flex;
    flex-wrap: nowrap;
    height: $size-form;
    line-height: 0.15rem;
    color: var(--color-encounter-fg);
    background-color: var(--color-encounter-bg);
    text-shadow: var(--shadow-encounter);
  }

  &-zone {
    flex: 1 1 auto;
    text-align: left;
  }

  &-numbers {
    flex: 0 0 auto;
  }

  &-buttons {
    cursor: pointer;
    color: var(--color-cover-fg);
    background-color: var(--color-cover-bg);
    position: relative;
    height: $size-form;
    width: $size-form * 2;
    display: flex;

    .btn {
      position: relative;
      flex: 0 0 auto;
      height: $size-form;
      width: $size-form;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:hover {
        color: var(--color-form-fg-active);
        background-color: var(--color-form-bg-active);
      }
    }
  }
}
