.settings {
  margin-top: $padding-md;
  font-size: $font-size-sm;
  flex: 0 0 auto;
  width: 3.8rem;
  color: var(--color-settings-fg);
  background-color: var(--color-settings-bg);
  text-shadow: var(--shadow-settings);
  backdrop-filter: $filter;

  &-tab {
    color: var(--color-settings-tab-fg);
    background-color: var(--color-settings-tab-bg);
    text-shadow: var(--shadow-settings-tab);
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-form;
  }

  &-tabitem {
    flex: 1 1 25%;
    padding: 0 $padding-lg;
    height: $size-form;
    line-height: $size-form;
    text-align: center;
    cursor: pointer;

    &--active,
    &:hover {
      text-shadow: var(--shadow-settings-tab-active);
      color: var(--color-settings-tab-fg-active);
      background-color: var(--color-settings-tab-bg-active);
    }
  }

  &-about,
  &-data,
  &-display,
  &-general {
    padding: $padding-lg;
  }

  &-row {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;

    // first settings line has top padding
    &:not(:first-child) {
      margin-top: $padding-md;
    }

    // child form items styles
    & > *:first-child {
      flex: 1 1 auto;
    }
    & > *:not(:last-child) {
      margin-right: $padding-md;
    }

    .g-link {
      display: inline-block;
      height: $size-form;
      line-height: $size-form;
    }
  }

  &-title {
    display: inline-block;
    height: $size-form;
    line-height: $size-form;
  }

  // transfer module
  &-transfer {
    display: flex;

    &-btn {
      width: $size-form;
      min-width: 0;
      cursor: pointer;
      flex: 0 0 auto;
      height: $size-form;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--color-form-fg);
      background-color: var(--color-form-bg);
      text-shadow: var(--shadow-form);

      &:not(:last-child) {
        margin-right: $padding-md;
      }

      &:hover {
        color: var(--color-form-fg-active);
        background-color: var(--color-form-bg-active);
        text-shadow: var(--shadow-form-active);
      }

      &-rotate .g-icon {
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        animation: spin 1s linear infinite;
      }
    }
  }
}

// custom settings items
.settings {
  &-sort-rule {
    width: 0.72rem;
    min-width: 0;
  }

  &-display-content,
  &-ticker-display,
  &-ticker-align {
    width: 0.9rem;
    min-width: 0;
  }

  &-theme,
  &-custom-css {
    width: 1.6rem;
    min-width: 0;
  }

  &-font-family {
    width: 0.9rem;
    min-width: 0;
  }
  &-font-weight {
    width: 0.66rem;
    min-width: 0;
  }
}

.settings-history {
  height: 6 * $size-form + 7 * $padding-md;
  overflow: hidden;

  &-row {
    height: $size-form;
    line-height: $size-form;
    display: flex;
    cursor: pointer;

    &:hover,
    &--active {
      color: var(--color-form-fg-active);
      background-color: var(--color-form-bg-active);
      text-shadow: var(--shadow-form-active);
    }

    &:not(:first-child) {
      margin-top: $padding-md;
    }
  }

  &-space:last-child {
    height: $padding-md;
  }

  &-item {
    white-space: nowrap;
    overflow: hidden;
    flex: 0 0 auto;
    margin-left: $padding-md;

    &:last-child {
      margin-right: $padding-md;
    }

    &:first-child,
    &:nth-child(3) {
      flex: 0 0 auto;
      width: 0.4rem;
      text-align: center;
    }

    &:nth-child(2) {
      flex: 0 0 auto;
      width: 0.6rem;
      text-align: center;
    }

    &:last-child {
      flex: 1 1 auto;
      min-width: 0;
      text-overflow: ellipsis;
      padding: 0 $padding-sm;
    }
  }
}
