.settings {
  margin-top: $padding-md;
  font-size: $font-size-sm;
  flex: 0 0 auto;
  width: 3.72rem;
  color: var(--color-settings-fg);
  background-color: var(--color-settings-bg);
  text-shadow: var(--shadow-settings);
  backdrop-filter: $filter;

  &-tab {
    color: var(--color-settings-tab-fg);
    background-color: var(--color-settings-tab-bg);
    text-shadow: var(--shadow-settings-tab);
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-form;
  }

  &-tabitem {
    flex: 1 1 25%;
    padding: 0 $padding-lg;
    height: $size-form;
    line-height: $size-form;
    text-align: center;
    cursor: pointer;

    &--active,
    &:hover {
      text-shadow: var(--shadow-settings-tab-active);
      color: var(--color-settings-tab-fg-active);
      background-color: var(--color-settings-tab-bg-active);
    }
  }

  &-content {
    padding: $padding-lg;
  }

  &-about,
  &-data,
  &-display,
  &-layout {
    display: flex;
    flex-wrap: wrap;
  }

  &-row {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;

    // first settings line has top padding
    &:not(:first-child) {
      margin-top: $padding-md;
    }

    // child form items styles
    & > *:first-child {
      flex: 1 1 auto;
    }
    & > *:not(:last-child) {
      margin-right: $padding-md;
    }

    .g-link {
      display: inline-block;
      height: $size-form;
      line-height: $size-form;
    }
  }

  &-title {
    display: inline-block;
    height: $size-form;
    line-height: $size-form;
  }
}

// custom settings items
.settings {
  &-sort-rule {
    width: 0.72rem;
    min-width: 0;
  }

  &-display-content,
  &-ticker-display,
  &-ticker-align {
    width: 0.9rem;
    min-width: 0;
  }

  &-theme,
  &-custom-css {
    width: 1.6rem;
    min-width: 0;
  }

  &-font-family {
    width: 0.9rem;
    min-width: 0;
  }
  &-font-weight {
    width: 0.66rem;
    min-width: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings-transfer {
  display: flex;

  &-btn {
    width: 0.22rem;
    min-width: 0;
    cursor: pointer;
    flex: 0 0 auto;
    height: $size-form;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-form-fg);
    background-color: var(--color-form-bg);
    text-shadow: var(--shadow-form);

    &:not(:last-child) {
      margin-right: $padding-md;
    }

    &:hover {
      color: var(--color-form-fg-active);
      background-color: var(--color-form-bg-active);
      text-shadow: var(--shadow-form-active);
    }

    &-rotate .g-icon {
      animation: spin 1s linear infinite;
    }
  }
}
