.settings {
  margin-top: $padding-md;
  font-size: $font-size-sm;
  flex: 0 0 3.5rem;
  color: var(--color-settings-fg);
  background-color: var(--color-settings-bg);
  text-shadow: var(--shadow-settings);
  backdrop-filter: $filter;

  &-tab {
    color: var(--color-settings-tab-fg);
    background-color: var(--color-settings-tab-bg);
    text-shadow: var(--shadow-settings-tab);
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-form;
  }

  &-tabitem {
    flex: 1 1 25%;
    padding: 0 $padding-lg;
    height: $size-form;
    line-height: $size-form;
    text-align: center;
    cursor: pointer;
    @include transition();

    &.active {
      text-shadow: var(--shadow-settings-tab-active);
      color: var(--color-settings-tab-fg-active);
      background-color: var(--color-settings-tab-bg-active);
    }
  }

  &-content {
    padding: $padding-lg;
  }

  &-about,
  &-data,
  &-display,
  &-layout {
    display: flex;
    flex-wrap: wrap;
  }

  &-row {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: $padding-md;
    }

    .s-link {
      display: inline-block;
      height: $size-form;
      line-height: $size-form;
    }
  }

  &-title {
    display: inline-block;
    height: $size-form;
    line-height: $size-form;
  }
}

.settings {
  &-theme .s-select {
    width: 1.4rem;
  }

  &-font .s-input {
    width: 1.6rem;
  }
}
