.settings {
  margin-top: $padding-md;
  font-size: $font-size-sm;
  flex: 0 0 25rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  text-shadow: var(--shadow-text);

  &-tab {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: $size-form;
  }

  &-tabitem {
    flex: 1 1 auto;
    padding: 0 $padding-lg;
    height: $size-form;
    line-height: $size-form;
    text-align: center;
    cursor: pointer;
    @include transitionColor();

    &.active {
      text-shadow: none;
      color: var(--color-form-fg-active);
      background-color: var(--color-form-bg-active);
    }
  }

  &-content {
    padding: $padding-lg;
    height: $size-settings;
  }

  &-about,
  &-data,
  &-display,
  &-layout {
    display: flex;
    flex-wrap: wrap;
  }

  &-row {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: $padding-md;
    }

    .s-link {
      display: inline-block;
      height: $size-form;
      line-height: $size-form;
    }
  }

  &-title {
    display: inline-block;
    height: $size-form;
    line-height: $size-form;
  }
}

.settings-display {
  .s-input {
    width: 10rem;
    text-align: right;
  }

  .s-select {
    width: 10rem;
  }
}
