body {
  // global
  --color-fg: #ffffff;
  --color-bg: rgba(145, 145, 145, 0.5);
  --shadow: 0 0 0.04rem #000000;
  --icon-color: var(--color-fg);
  --icon-shadow: 0 0 0.03rem rgba(0, 0, 0, 0.6);

  // s-ticker
  // --color-ticker-cd: rgba(255, 165, 0, 0.9); // crit direct
  // --color-ticker-c: rgba(255, 252, 103, 0.8); // crit
  // --color-s-ticker-d: rgba(127, 243, 82, 0.8); // direct
  // --color-s-ticker-oh: rgba(255, 102, 0, 0.7); // over healed
  // --color-s-ticker-h: rgba(127, 243, 82, 0.8); // healed
  // --color-s-ticker-s: rgba(82, 205, 243, 0.8); // shield

  // combatant
  --color-combatant-fg: var(--color-fg);
  // --color-jobtype-dps: rgba(232, 107, 121, 0.5);
  // --color-jobtype-tank: rgba(138, 162, 211, 0.6);
  // --color-jobtype-heal: rgba(123, 170, 23, 0.5);
  // --color-common: var(--color-bg);
  // --color-self: rgba(238, 238, 238, 0.65);
  --shadow-combatant: var(--shadow);

  // encounter
  --color-encounter-fg: var(--color-fg);
  --color-encounter-bg: var(--color-bg);
  --color-cover-fg: var(--color-fg);
  --color-cover-fg-active: var(--color-fg);
  --color-cover-bg: rgba(170, 170, 169, 0.55);
  --color-cover-bg-active: var(--color-jobtype-heal);
  --shadow-encounter: var(--shadow);
  --shadow-encounter-active: var(--shadow);

  // settings
  --color-settings-fg: var(--color-fg);
  --color-settings-bg: var(--color-bg);
  --color-settings-tab-fg: var(--color-fg);
  --color-settings-tab-bg: var(--color-bg);
  --color-settings-tab-fg-active: #333333;
  --color-settings-tab-bg-active: #eeeeee;
  --shadow-settings: var(--shadow);
  --shadow-settings-tab: var(--shadow);
  --shadow-settings-tab-active: none;

  // components
  --color-form-fg: var(--color-fg);
  --color-form-fg-active: #333333;
  --color-form-fg-disabled: rgba(255, 255, 255, 0.7);
  --color-form-fg-selection: var(--color-fg);
  --color-form-bg: #555555;
  --color-form-bg-active: #eeeeee;
  --color-form-bg-disabled: var(--color-form-bg);
  --color-form-bg-selection: #8aa2d3;
  --shadow-form: var(--shadow);
  --shadow-form-active: none;
  --shadow-form-selection: none;
}
