body[data-theme='horiz'] {
  // global
  --color-fg: #ffffff;
  --color-bg: rgba(0, 0, 0, 0.3);
  --shadow: 0 0 0.04rem #000000;
  --icon-color: var(--color-fg);
  --icon-shadow: 0 0 0.04rem rgba(0, 0, 0, 0.6);

  // s-ticker
  // --color-ticker-cd  // crit direct
  // --color-ticker-c  // crit
  // --color-ticker-d  // direct
  // --color-ticker-oh  // over healed
  // --color-ticker-h  // healed
  // --color-ticker-s  // shield

  // combatant
  // --color-common
  // --color-self
  // --color-jobtype-dps
  // --color-jobtype-tank
  // --color-jobtype-heal
  --color-combatant-fg: var(--color-fg);
  --shadow-combatant: var(--shadow);

  // encounter
  --color-encounter-fg: var(--color-fg);
  --color-encounter-bg: var(--color-bg);
  --color-cover-fg: var(--color-fg);
  --color-cover-fg-active: var(--color-fg);
  --color-cover-bg: rgba(170, 170, 169, 0.65);
  --color-cover-bg-active: var(--color-cover-bg);
  --shadow-encounter: var(--shadow);
  --shadow-encounter-active: var(--shadow);

  // settings
  --color-settings-fg: var(--color-fg);
  --color-settings-bg: #555555;
  --color-settings-tab-fg: var(--color-fg);
  --color-settings-tab-bg: var(--color-bg);
  --color-settings-tab-fg-active: #ffffff;
  --color-settings-tab-bg-active: #555555;
  --shadow-settings: var(--shadow);
  --shadow-settings-tab: var(--shadow);
  --shadow-settings-tab-active: var(--shadow);

  // components
  --color-form-fg: var(--color-fg);
  --color-form-fg-active: #333333;
  --color-form-fg-disabled: rgba(255, 255, 255, 0.7);
  --color-form-fg-selection: var(--color-fg);
  --color-form-bg: #333333;
  --color-form-bg-active: #eeeeee;
  --color-form-bg-disabled: var(--color-form-bg);
  --color-form-bg-selection: rgba(32, 149, 243, 0.5);
  --shadow-form: none;
  --shadow-form-active: none;
  --shadow-form-selection: none;
}
