body[data-theme='round'] {
  // global
  --color-fg: #ffffff;
  --color-bg: rgba(0, 0, 0, 0.3);
  --shadow: 0 0 0.04rem #000000;
  --icon-color: var(--color-fg);
  --icon-shadow: 0 0 0.04rem rgba(0, 0, 0, 0.6);
  --border-radius: 10px;
  --border-color: rgba(255, 255, 255, .5);

  // s-ticker
  --color-s-ticker-cd: rgba(255, 111, 0, 0.7); // crit direct
  --color-s-ticker-c: rgba(255, 202, 40, 0.7); // crit
  --color-s-ticker-d: rgba(29, 233, 182, 0.7); // direct
  --color-s-ticker-oh: rgba(255, 102, 0, 0.7); // over healed
  --color-s-ticker-h: rgba(127, 243, 82, 0.8); // healed
  --color-s-ticker-s: rgba(82, 205, 243, 0.8); // shield

  // combatant
  --color-combatant-fg: var(--color-fg);
  --color-combatant-bg-dps: rgba(244, 67, 54, 0.5);
  --color-combatant-bg-tank: rgba(32, 149, 243, 0.5);
  --color-combatant-bg-heal: rgba(139, 195, 74, 0.5);
  --color-combatant-bg-others: var(--color-bg);
  --color-combatant-bg-self: rgba(0, 0, 0, 0.7);
  --shadow-combatant: var(--shadow);

  // encounter
  --color-encounter-fg: var(--color-fg);
  --color-encounter-bg: var(--color-bg);
  --color-cover-fg: var(--color-fg);
  --color-cover-fg-active: var(--color-fg);
  --color-cover-bg: rgba(170, 170, 169, 0.65);
  --color-cover-bg-active: var(--color-cover-bg);
  --shadow-encounter: var(--shadow);
  --shadow-encounter-active: var(--shadow);

  // settings
  --color-settings-fg: var(--color-fg);
  --color-settings-bg: #555555;
  --color-settings-tab-fg: var(--color-fg);
  --color-settings-tab-bg: var(--color-bg);
  --color-settings-tab-fg-active: #ffffff;
  --color-settings-tab-bg-active: #555555;
  --shadow-settings: var(--shadow);
  --shadow-settings-tab: var(--shadow);
  --shadow-settings-tab-active: var(--shadow);

  // components
  --color-form-fg: var(--color-fg);
  --color-form-fg-active: #333333;
  --color-form-fg-disabled: rgba(255, 255, 255, 0.7);
  --color-form-fg-selection: var(--color-fg);
  --color-form-bg: #333333;
  --color-form-bg-active: #eeeeee;
  --color-form-bg-disabled: var(--color-form-bg);
  --color-form-bg-selection: rgba(32, 149, 243, 0.5);
  --shadow-form: none;
  --shadow-form-active: none;
  --shadow-form-selection: none;
  
  .app {
    .combatants {
      .combatant {
        background-color: var(--color-bg);
        box-shadow: 0 0 0 1px var(--border-color);
        padding: 2px;
        margin: 0 6px;
        border-radius: var(--border-radius);
        border-bottom: 2px solid;
        
        &-content {
          background-color: transparent !important;
        }

        &-name {
          border-bottom: 2px solid;
          padding-bottom: 4px;
          margin-bottom: 4px;
        }

        & .combatant-name {
          padding-top: 4px;
          border-radius: var(--border-radius);
        }

        &.jobtype-tank { 
          & .combatant-name {
            background-color: var(--color-combatant-bg-tank);
          }

          &.job-self { 
            box-shadow: 0 0 0 1px var(--border-color), 0 0 10px 6px var(--color-combatant-bg-tank);
          }
        }

        &.jobtype-dps { 
          & .combatant-name {
            background-color: var(--color-combatant-bg-dps);
          }

          &.job-self { 
            box-shadow: 0 0 0 1px var(--border-color), 0 0 10px 6px var(--color-combatant-bg-dps);
          }
        }

        &.jobtype-healer { 
          & .combatant-name {
            background-color: var(--color-combatant-bg-heal);
          }

          &.job-self { 
            box-shadow: 0 0 0 1px var(--border-color), 0 0 10px 6px var(--color-combatant-bg-heal);
          }
        }

        &-detail {
          margin-top: 8px;
          border-radius: var(--border-radius);
          box-shadow: 0 0 0 1px var(--border-color);
        }
      }
    }

    .encounter {
      padding-top: 8px;
      & > div {
        box-shadow: 0 0 0 1px var(--border-color);
        border-radius: var(--border-radius);
        margin: 0 4px;
      }
    }

    .settings {
      margin-top: 8px;
      border-radius: var(--border-radius);
      box-shadow: 0 0 0 1px var(--border-color);

      &-tab {
        border-radius: var(--border-radius);

        &item {
          border-radius: var(--border-radius);
  
        }
      }
    }
  }
}
