@import '../scss/variables.scss';

.input {
  display: inline-block;
  border: none;
  outline: none;
  background-color: var(--color-form-bg);
  color: var(--color-text);
  height: $size-form;
  line-height: $size-form;
  padding: 0 $padding-md;
  min-width: 0;
}
