.s-input-number {
  display: inline-flex;
  height: var.$size-form;
  min-width: var.$size-form-minwidth;
  color: var(--color-form-fg);
  background-color: var(--color-form-bg);
  text-shadow: var(--shadow-form);

  & > div {
    display: inline-block;
  }

  div.value {
    flex: 1 1 auto;
    text-align: center;
    height: var.$size-form;
    line-height: var.$size-form;
    padding-left: 0.04rem;
  }

  .btn {
    flex: 0 0 auto;
    height: var.$size-form;
    width: var.$size-form;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: var(--color-form-fg-active);
      background-color: var(--color-form-bg-active);
    }
  }
}
