.s-input {
  display: inline-block;
  border: none;
  outline: none;
  color: var(--color-form-fg);
  background-color: var(--color-form-bg);
  height: $size-form;
  line-height: $size-form;
  padding: 0 $padding-md;
  min-width: $size-form-minwidth;
  @include transitionColor();

  &.active {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
  }
}
