.s-switch {
  display: flex;
  cursor: pointer;
  height: $size-form;
  width: $size-form * 2;
  display: flex;
  color: var(--color-form-fg);
  background-color: var(--color-form-bg);

  .btn {
    flex: 0 0 auto;
    height: $size-form;
    width: $size-form;
    transition: all 150ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.active {
      color: var(--color-form-fg-active);
      background-color: var(--color-form-bg-active);
    }
  }
}
