.s-ticker {
  width: 100%;
  height: 0.04rem;
  display: flex;
  align-items: stretch;

  &-dps {
    .s-ticker-a {
      background-color: var(--color-s-ticker-dps-a);
    }
    .s-ticker-b {
      background-color: var(--color-s-ticker-dps-b);
    }
    .s-ticker-c {
      background-color: var(--color-s-ticker-dps-c);
    }
  }

  &-healer {
    .s-ticker-a {
      background-color: var(--color-s-ticker-healer-a);
    }
    .s-ticker-b {
      background-color: var(--color-s-ticker-healer-b);
    }
    .s-ticker-c {
      background-color: var(--color-s-ticker-healer-c);
    }
  }

  &-left {
    flex-direction: row;
  }
  &-right {
    flex-direction: row-reverse;
  }
}
