@use '../scss/variables' as var;

.s-ticker {
  width: 100%;
  height: 0.04rem;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;

  & > span {
    flex: 1 1 auto;
  }

  &-cd {
    background-color: var(--color-ticker-cd);
  }
  &-c {
    background-color: var(--color-ticker-c);
  }
  &-d {
    background-color: var(--color-ticker-d);
  }

  &-oh {
    background-color: var(--color-ticker-oh);
  }
  &-h {
    background-color: var(--color-ticker-h);
  }
  &-s {
    background-color: var(--color-ticker-s);
  }
}
