// global styles

.g-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-link {
  color: var(--color-fg);
  text-shadow: var(--shadow);
  text-decoration: underline;
  padding-left: 0.03rem;
  padding-right: 0.03rem;

  &:hover {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
    text-shadow: var(--shadow-form-active);
  }
}

.g-number {
  display: inline-block;
}
.g-counter {
  display: inline-block;
  font-size: $font-size-xs;
  margin-left: 0.02rem;
}

.icon {
  font-size: 0.18rem;
  display: inline-block;
}

// app styles
.g-container:nth-child(1),
.combatants {
  z-index: 100;
}
.g-container:nth-child(2),
.encounter {
  z-index: 10;
}
.g-container:nth-child(3),
.settings {
  z-index: 1;
}

.combatants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
