* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  font-size: var.$font-size-base;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#root {
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.combatants {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.app {
  .combatants {
    position: relative;
    z-index: 30;
  }
  .encounter,
  .settings,
  .sw {
    z-index: 20;
  }
}

.app-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  .combatants {
    position: relative;
    z-index: 30;
  }
  .encounter,
  .settings,
  .sw {
    z-index: 40;
  }
}
