* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  font-size: 0.14rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#root {
  overflow-y: auto;

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    display: block;
    width: 9px;
    background-color: #f0f0f0;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    &:hover {
      background-color: #a6a6a6;
    }
    &:active {
      background-color: #606060;
    }
  }
}

.icon {
  stroke: currentColor;
  fill: currentColor;
}

.g-link {
  color: var(--color-fg);
  text-shadow: var(--shadow);
  text-decoration: underline;
  padding-left: 0.03rem;
  padding-right: 0.03rem;

  &:hover {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
    text-shadow: var(--shadow-form-active);
  }
}

.g-number {
  display: inline-block;
}
.g-counter {
  display: inline-block;
  font-size: $font-size-xs;
  margin-left: 0.02rem;
}

.icon {
  font-size: 0.18rem;
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child,
  .combatants {
    z-index: 100;
  }

  &:last-child {
    z-index: 10;

    .encounter {
      z-index: 10;
    }
    .settings {
      z-index: 1;
    }
  }
}

.combatants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
