* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#root {
  font-size: 0.14rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#root {
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child,
  .combatants {
    z-index: 100;
  }

  &:last-child {
    z-index: 10;

    .encounter {
      z-index: 10;
    }
    .settings {
      z-index: 1;
    }
  }
}

.combatants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
