$devp-width: 3rem;

.devp {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;

  &-settings {
    font-size: $font-size-sm;
    position: absolute;
    width: $devp-width;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-settings-fg);
    background-color: var(--color-settings-bg);
    text-shadow: var(--shadow-settings);
  }

  &-toggle {
    width: $devp-width;
    line-height: $size-form;
    text-align: center;
    cursor: pointer;
    color: var(--color-settings-tab-fg);
    background-color: var(--color-settings-tab-bg);
    text-shadow: var(--shadow-settings-tab);

    &:hover {
      text-shadow: var(--shadow-settings-tab-active);
      color: var(--color-settings-tab-fg-active);
      background-color: var(--color-settings-tab-bg-active);
    }
  }

  &-content {
    width: $devp-width;
    padding: $padding-lg;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:first-child) {
        margin-top: 0.04rem;
      }
    }

    &-ctrl {
      width: $size-form-minwidth;
    }
  }
}
