// default
// files by Google Fonts in `index.html`
html,
html[data-font='default'] {
  font-family: 'Inter', sans-serif;

  &[lang='ja'] {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
  }

  &[lang='zh'] {
    font-family: 'Inter', 'Noto Sans SC', sans-serif;
  }
}

// misans
@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/misans-light-300.woff2') format('woff2');
}
@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/misans-regular-400.woff2') format('woff2');
}
@font-face {
  font-family: 'MiSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/misans-medium-500.woff2') format('woff2');
}
html[data-font='misans'] {
  font-family: 'MiSans', sans-serif;
}
