// default
html,
html[data-font='default'] {
  font-family: 'Inter', sans-serif;

  &[lang='ja'] {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
  }

  &[lang='zh'] {
    font-family: 'Inter', 'Noto Sans SC', sans-serif;
  }
}

// misans
html[data-font='misans'] {
  font-family: 'MiSans', sans-serif;
}
