@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: local('Inter Regular'),
    url('https://cdn.jsdelivr.net/gh/dsrkafuu/dsr-cdn@1.1/fonts/inter/inter-regular.woff2')
      format('woff2');
}

* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  transition: font-size 150ms ease-out;
}

#root {
  display: block;
}

html {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
}
