@import './variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  user-select: none;
}

span.counter {
  font-size: $font-size-xs;
  margin-left: 0.2rem;
}
