* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  font-size: 0.14rem;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

html {
  @include transition();
}

#root,
.app {
  display: block;
}

.icon {
  stroke: currentColor;
  fill: currentColor;
}
