body {
  // global
  --color-fg: #ffffff;
  --color-bg: rgba(145, 145, 145, 0.6);
  --shadow-text: 0 0 0.25rem #000;

  // combatant
  --color-dps: rgba(232, 107, 121, 0.6);
  --color-tank: rgba(138, 162, 211, 0.65);
  --color-heal: rgba(123, 170, 23, 0.6);

  // encounter
  --color-cover: rgba(170, 170, 169, 0.65);
  --color-active: rgba(123, 170, 23, 0.6);

  // settings
  --color-form-fg: #ffffff;
  --color-form-fg-active: #333333;
  --color-form-fg-selection: #ffffff;
  --color-form-bg: #555555;
  --color-form-bg-active: #eeeeee;
  --color-form-bg-selection: #8aa2d3;
}

body[data-theme='horizoverlay'] {
  // combatant
  --color-dps-b: rgba(244, 67, 54, 0.5);
  --color-tank-b: rgba(32, 149, 243, 0.5);
  --color-heal-b: rgba(139, 195, 74, 0.5);
}
