/* global utils */

// center containers
.s-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// links
.s-link {
  color: var(--color-fg);
  text-decoration: underline;
  transition: all 150ms ease;
  padding-left: 0.2rem;
  padding-right: 0.2rem;

  &:hover {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
    text-shadow: none;
  }
}

// counter spans
span.s-number {
  margin-right: 0.1rem;
}
span.s-counter {
  font-size: $font-size-xs;
  margin-left: 0.1rem;
}

// icons
svg.icon {
  font-size: 1.25rem;
  display: inline-block;
}

// animations
.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
