@use './variables' as var;

.g-icon {
  font-size: 0.18rem;
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
}

.g-link {
  color: var(--color-fg);
  text-shadow: var(--shadow);
  text-decoration: underline;
  padding-left: var.$padding-sm;
  padding-right: var.$padding-sm;

  &:hover {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
    text-shadow: var(--shadow-form-active);
  }
}

.g-number {
  display: inline-block;
}
.g-counter {
  display: inline-block;
  font-size: var.$font-size-xs;
  margin-left: 0.02rem;
}
