/* global utils */

// center containers
.s-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// links
.s-link {
  color: var(--color-fg);
  text-shadow: var(--shadow);
  text-decoration: underline;
  padding-left: 0.03rem;
  padding-right: 0.03rem;
  @include transition();

  &:hover {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
    text-shadow: var(--shadow-form-active);
  }
}

// counter spans
span.s-number {
  margin-right: 0.01rem;
}
span.s-counter {
  font-size: $font-size-xs;
  margin-left: 0.01rem;
}

// icons
svg.icon {
  font-size: 0.18rem;
  display: inline-block;
}

// animations
.fade-enter {
  opacity: 0;

  &-active {
    opacity: 1;
    @include transition();
  }
}
.fade-exit {
  opacity: 1;

  &-active {
    opacity: 0;
    @include transition();
  }
}
