/* global utils */

// center containers
.s-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// links
.s-link {
  color: var(--color-fg);
  text-shadow: var(--shadow);
  text-decoration: underline;
  padding-left: 0.03rem;
  padding-right: 0.03rem;

  &:hover {
    color: var(--color-form-fg-active);
    background-color: var(--color-form-bg-active);
    text-shadow: var(--shadow-form-active);
  }
}

// counter spans
span.s-number {
  display: inline-block;
}
span.s-counter {
  display: inline-block;
  font-size: $font-size-xs;
  margin-left: 0.02rem;
}

// icons
svg.icon {
  font-size: 0.18rem;
  display: inline-block;
}
