$font-size-xs: 0.1rem;
$font-size-sm: 0.12rem;
$font-size-base: 0.14rem;

$size-form: 0.22rem;
$size-form-minwidth: 1.2rem;

$padding-sm: 0.03rem;
$padding-md: 0.04rem;
$padding-lg: 0.07rem;
$padding-xl: 0.1rem;

$filter: blur(0.01rem);

@mixin transition() {
  transition: all 150ms ease;
}
