$font-size-xs: 0.7143rem; // 10px
$font-size-sm: 0.8571rem; // 12px
$font-size-base: 14px;

$size-combatant: 5rem;
$size-encounter: 1.6rem;
$size-form: 1.6rem;
$size-form-minwidth: 8rem;

$padding-xs: 0.2rem;
$padding-sm: 0.25rem;
$padding-md: 0.3rem;
$padding-lg: 0.5rem;
$padding-xl: 0.75rem;

$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB',
  'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

@mixin transitionColor {
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-property: color, background-color, text-shadow;
}
@mixin transitionSize {
  transition-duration: 150ms;
  transition-timing-function: ease;
  transition-property: font-size;
}
