$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;

$size-encounter: 1.6rem;
$size-form: 1.6rem;

$padding-xs: 0.2rem;
$padding-sm: 0.25rem;
$padding-md: 0.3rem;
$padding-lg: 0.5rem;
$padding-xl: 0.75rem;

$font-family-base: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial',
  'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN',
  'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
